<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <main>
<!--         <div class="productos_slider">
            <h1>Slider de Productos</h1>
        </div> -->
        <h1>Productos</h1>
        <div class="productos_nav">
            <a href="#" class="productos_nav_items">Más Vendidos</a>
            <a href="#" class="productos_nav_items">Categorías</a>
            <a href="#" class="productos_nav_items">Ofertas</a>
            <a href="#" class="productos_nav_items">Ofertas</a>
        </div>
        <div class="productos_random">
            <h3>¿No sabés qué comprar?</h3>
            <div class="productos_slider_random">
                <article class="productos_articulo_random">
                    <img width="100%" src="img/te_coladecaballo.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$6.770  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Cola de Caballo</h4>
                    </div>
                </article>
            </div>
            <button class="descubri">Descubrí</button>
        </div>
        <div class="productos_container">
            <h1>Productos recomendados</h1>
            <section class="destacados">
                <article>
                    <img width="100%" src="img/te_coladecaballo.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$6.770  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Cola de Caballo</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="img/te_tila.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$8.500  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Tila</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="img/te_canela.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$7.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Canela</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="img/te_salvia.jpg" alt="">
                    <div class=articulo-contenido>
                        <div class="articulo-venta">
                            <p class="precio">$6.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Salvia</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
            </section>
            <h1>Ofertas</h1>
            <section class="destacados">
                <article>
                    <img width="100%" src="img/te_coladecaballo.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$6.770  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Cola de Caballo</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="img/te_tila.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$8.500  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Tila</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="img/te_canela.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$7.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Canela</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
                <article>
                    <img width="100%" src="img/te_salvia.jpg" alt="">
                    <div class=articulo-contenido>
                        <div class="articulo-venta">
                            <p class="precio">$6.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Salvia</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>