* {
    box-sizing: border-box;
}

                
img {vertical-align: middle;}

body{
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

main{
  margin-bottom: 30px;
}

.nav-top{
    background-color: #94cca5;
    display: flex;
}
.nav-top-logo{
    width: 20%;
}

.logo{
    margin: 10px;
    width: 280px;
    height: auto;
    padding: 10px;
}

.nav-top-botonera{
    width: 50%;
    padding-top: 80px;
    text-align: center;
}

.botonera-items{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #4b974d;
    font-weight: bold;
}

.nav-top-buscador{
    width: 20%;
    padding: 10px;
    text-align: right;
}

.nav-top-registros{
    width: 10%;
    padding: 10px;
    text-align: right;
}

.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.fa-user, .fa-arrow-right-to-bracket, .fa-magnifying-glass, .fa-cart-shopping{
    color:#4b974d;
    padding: 10px;
    font-size: 25px;
}

h1{
    color: #4b974d;
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
}

h3{
  color: #4b974d;
  font-size: 20px;
}

.destacados{
  display: flex;
  padding: 15px;
}

article{
  position: relative;
  margin: 5px;
  padding: 15px;
  color: #4b974d;
  border: #4b974d 1px solid;
}


/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background: #93C572;;
  height: 15%;
  width: 100%;
}

.footer__navegacion a {
  display: inline;
  position: relative;
  top: 60%;
  padding: 0px 5px;
  font-size: 16px;
  font-weight: bold;
}

.footer__navegacion a:link {
  color:#005500;
  text-decoration: none;
}

.footer__navegacion a:visited {
  color:#005500;
  text-decoration: none;
}

.footer__copyright h4 {
  position: relative;
  top: 80%;
  font-size: 10px;
  color: #005500;
}

.footer__redes a {
  position: relative;
  padding: 0px 4px;
  top: 60%;
  font-size: 16px;
  font-weight: bold;
}

/* FOOTER FIN */

.fa-facebook, .fa-instagram-square, .fa-linkedin, .fa-whatsapp-square{
  padding: 10px;
}

h4{
  margin-top: 0;
  color: #4b974d;
}

.contacto_container, .login_container, .registro_container{
  display: flex;
  margin: 10px;
  justify-content: center;
}

.login_recuperar, .registro_iniciarsesion{
  display: flex;
  margin: 10px;
  justify-content: center;
}

.login_recuperar_items, .registro_iniciarsesion_items{
  color:#4b974d;
  padding: 10px;
  text-decoration: none;
}

.ubicacion_container{
  display: flex;
  margin: 20px;
}

.ubicacion_mapa{
  width: 60%;
  padding: 5px;
  margin: 10px;
}

.ubicacion_info{
  display: block;
  width: 40%;
  margin: 10px;
}

.contacto_formulario, .login_formulario, .registro_formulario{
  text-align: center;
  width: 30%;
}

.contacto_formulario, .login_formulario, .registro_formulario{
  display: block;
  padding-top: 0;
  padding-left: 15px;
}

.contacto_formulario_items, .login_formulario_items, .registro_formulario_items{
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: #4b974d 1px solid;
}

.contacto_direccion, .contacto_telefono, .contacto_horarios{
  margin: 5px;
  padding-left: 15px;
  border: #4b974d 1px solid;
}

.ver_mas{
  background-color: #94cca5;
  color: #4b974d;
  border: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.descubri{
  margin-top: 5px;
  background-color: #94cca5;
  color: #4b974d;
  border: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}

.contacto_formulario_enviar, .login_formulario_enviar, .registro_formulario_enviar{
  background-color: #94cca5;
  color: #4b974d;
  border: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.productos_slider{
  width: 100%;
  height: 300px;
  border:#4b974d solid 1px;
}

.productos_nav{
  margin: 20px;
  text-align: center;
}

.productos_nav_items{
  color: #4b974d;
  text-decoration: none;
  padding: 15px;
}

.productos_random{
  padding-top: 15px;
  text-align: center;
}

.productos_slider_random{
  margin: auto;
  width: 800px;
  height: 300px;
  border: #4b974d solid 1px;
}