body{
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.nav-top{
    background-color: #94cca5;
    display: flex;
}

.logo{
    margin: 10px;
    width: 300px;
    height: auto;
    padding: 10px;
}

.botonera{
    width: 50%;
    padding-top: 80px;
    text-align: center;
}

.botonera-items{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #4b974d;
    font-weight: bold;
}

.registros{
    width: 25%;
    padding: 20px;
    text-align: right;
}

.fa-user, .fa-arrow-right-to-bracket, .fa-magnifying-glass, .fa-cart-shopping{
    color:#4b974d;
    padding: 10px;
    font-size: 25px;
}

.slider{
    width: auto;
    height: 200px;
    border: 2px solid #4b974d;
}

h3{
    color: #4b974d;
    text-align: center;
    padding-top: 50px;
}

main{
    height: 200px;
}

footer{
    background-color: #94cca5;
    padding: 20px;
}