<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <div class="slideshow-container">
        
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="/img/slider_001.jpg" style="width:100%">
            <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/img/slider_002.jpg" style="width:100%">
            <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/img/slider_003.jpg" style="width:100%">
            <div class="text">Caption Three</div>
        </div>
        
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>
    <main>
        <h1>Productos Destacados</h1>
        <section class="destacados">
            <article>
                <a href="/productDetail">
                    <img width="100%" src="img/te_coladecaballo.jpg" alt="">
                    <div class="articulo-contenido">
                        <div class="articulo-venta">
                            <p class="precio">$6.770  - <i class="fa-solid fa-cart-shopping"></i></p>
                        </div>
                        <h4 class="description">Té - Cola de Caballo</h4>
                        <button class="ver_mas">Ver más</button>
                    </div>
                </a>
            </article>
            <article>
                <img width="100%" src="img/te_tila.jpg" alt="">
                <div class="articulo-contenido">
                    <div class="articulo-venta">
                        <p class="precio">$8.500  - <i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                    <h4 class="description">Té - Tila</h4>
                    <button class="ver_mas">Ver más</button>
                </div>
            </article>
            <article>
                <img width="100%" src="img/te_canela.jpg" alt="">
                <div class="articulo-contenido">
                    <div class="articulo-venta">
                        <p class="precio">$7.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                    <h4 class="description">Té - Canela</h4>
                    <button class="ver_mas">Ver más</button>
                </div>
            </article>
            <article>
                <img width="100%" src="img/te_salvia.jpg" alt="">
                <div class=articulo-contenido>
                    <div class="articulo-venta">
                        <p class="precio">$6.200  - <i class="fa-solid fa-cart-shopping"></i></p>
                    </div>
                    <h4 class="description">Té - Salvia</h4>
                    <button class="ver_mas">Ver más</button>
                </div>
            </article>
        </section>
    </main>
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>