<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Positivitea</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0cece3ed6e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="nav-top">
            <div>
                <img src="/img/logo.png" alt="PositiviTea" class="logo">
            </div>
            <div class="botonera">
                <a href="#" class="botonera-items">Inicio</a>
                <a href="#" class="botonera-items">Productos</a>
                <a href="#" class="botonera-items">Contacto</a>
                <a href="#" class="botonera-items"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="registros">
                <a href="#"><i class="fa-solid fa-user"></i></a>
                <a href="#"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <input type="search"><i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </nav>
        <div class="slider">
        <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto -->
            <h3>ACÁ IRÍA UN SLIDER CON FOTOS E INFO DE LA EMPRESA</h3>
        </div>
    </header>
    <main>
        <section class="destacados">
            <h3>Productos Destacados</h3>
        </section>
    </main>
    <hr>
    <footer>
        <section class="footer">
            <h3>FOOTER</h3>
        </section>
    </footer>
</body>

</html>