<footer>
    <section class="footer_navegacion">
        <div>
            <a href="#" class="footer_botonera_items">Inicio</a>
        </div>
        <div>
            <a href="#" class="footer_botonera_items">Productos</a>
        </div>
        <div>
            <a href="#" class="footer_botonera_items">Contacto</a>
        </div>
    </section>
    <section class="footer_info">
        <h4><strong>Copyright © 1999-2022 PositiviTea S.R.L.</strong></h4>
    </section>
    <section class="footer_redessociales">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-whatsapp-square"></i>
    </section>
</footer>