<div class="footer">
    <div class="footer__navegacion">
        <a href="#" class="footer__navegacion-home">• Home</a>
        <a href="#dsa" class="footer__navegacion-productos">• Productos</a>
        <a href="#sads" class="footer__navegacion-contacto">• Contacto</a>
    </div>

    <div class="footer__copyright">
      <h4>Copyright © - 2022 PositiviTea S.A.</h4>
    </div>

    <div class="footer__redes">
      <a href="https://instagram.com/" class="footer__redes-ig" target="_blank"
        ><img src="img/icons/instagram.png"
      /></a>
      <a href="https://www.facebook.com" class="footer__redes-fb" target="_blank"
        ><img src="img/icons/facebook.png"
      /></a>
      <a href="https://www.linkedin.com/" class="footer__redes-ln" target="_blank"
        ><img src="img/icons/linkedin.png"></a>
      <a href="https://google.com/" class="footer__redes-au" target="_blank"><img src="img/icons/man.png"></a>
    </div>
  </div>