<nav class="nav-top">
    <div class="nav-top-logo">
        <img src="/img/logo.png" alt="PositiviTea" class="logo">
    </div>
    <div class="nav-top-botonera">
        <a href="/" class="botonera-items">Inicio</a>
        <a href="/products" class="botonera-items">Productos</a>
        <a href="/contactUs" class="botonera-items">Contacto</a>
        <a href="/products/shoppingCart" class="botonera-items"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="nav-top-buscador">
        <input type="search"><i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="nav-top-registros">
        <a href="/register"><i class="fa-solid fa-user"></i></a>
        <a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
    </div>
</nav>