<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <main>
        <h1>Iniciar Sesión</h1>
        <div class="login_container">
            <div class="login_formulario">
                <form action="" method="post">
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario: " class="login_formulario_items">
                    <input type="password" name="password" id="password" placeholder="Contraseña: " class="login_formulario_items">
                    <button type="button" class="login_formulario_enviar">Ingresar</button>
                </form>
            </div>
        </div>
        <div class="login_recuperar">
            <a href="#" class="login_recuperar_items">¿Has olvidado la contraseña?</a> <br>
            
        </div>
        <div class="login_recuperar">
            <a href="/register" class="login_recuperar_items">Registrarse</a>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>