<%- include('../partials/head') %> 
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <main>
        <h1>Registro</h1>
        <div class="registro_container">
          <div class="registro_formulario">
            <form action="" method="post">
              <input type="text" id="username" class="registro_formulario_items" placeholder="Usuario: " required oninvalid="this.setCustomValidity('Debes introducir un nombre de usuario')" oninput="this.setCustomValidity('')">
              <input type="email" id="email" class="registro_formulario_items" placeholder="Email: " required oninvalid="this.setCustomValidity('Debes introducir tu correo electronico')" oninput="this.setCustomValidity('')">
              <input type="password" id="password" class="registro_formulario_items" placeholder="Contraseña: " required oninvalid="this.setCustomValidity('Debes introducir una contraseña')" oninput="this.setCustomValidity('')">
              <input type="password" id="password" class="registro_formulario_items" placeholder="Confirmar contraseña: " required oninvalid="this.setCustomValidity('Debes confirmar la contraseña')" oninput="this.setCustomValidity('')">
              <input class="registro_formulario_enviar" type="submit" value="Enviar">
            </form>
          </div>
        </div>
        <div class="registro_iniciarsesion">
          <a href="#" class="registro_iniciarsesion_items">Iniciar Sesión</a>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="https://kit.fontawesome.com/0cece3ed6e.js" crossorigin="anonymous"></script>
</body>
</html>